.container {
  background: $dark-blue !important;
  padding: $m-size;
}

.input {
  font-size: $m-size !important;
  font-weight: bold;
  border-radius: 5rem;
  background: $light-blue;
  min-width: 60rem;
  padding: 0 $m-size;
}
