.container {
  background: $dark-blue;
  min-height: 8rem;
}

.input {
  font-size: $m-size !important;
  font-weight: bold;
  border-radius: 5rem;
  background: $light-blue;
  min-width: 60rem;
  max-height: 3rem;
  margin: $l-size;
  padding: $m-size;
}

.widget {
  color: $light-blue;
  justify-content: space-around;
  margin: $l-size;
  padding: $xl-size;
  text-align: center;
}
